In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

In [5]:
example_df = pd.read_csv('submission_example.csv')
example_df.head()

   user_id  is_gone
0       12     0.26
1       13     0.79
2       15     0.12
3       21     0.67
4       35     0.62

In [2]:
events_df = pd.read_csv('events_data_test.csv')
events_df.head()

   step_id   timestamp      action  user_id
0    30456  1526893787      viewed    24417
1    30456  1526893797      viewed    24417
2    30456  1526893954      viewed    24417
3    30456  1526895780      viewed    24417
4    30456  1526893787  discovered    24417

In [4]:
submission_df = pd.read_csv('submission_data_test.csv')
submission_df.head()

   step_id   timestamp submission_status  user_id
0    31971  1526800961             wrong    24370
1    31971  1526800976             wrong    24370
2    31971  1526800993             wrong    24370
3    31971  1526801054           correct    24370
4    31972  1526800664             wrong    24370